<app-timesheet></app-timesheet>
<div class="container">
  <div class="months" style="padding-left: 250px;">

    <span style="cursor: pointer;" class="badge rounded-pill  m-2" [ngClass]="currentMonth == 1? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('01')">Jan</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 2? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('02')">Feb</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 3? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('03')">Mar</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 4? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('04')">Apr</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 5? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('05')">May</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 6? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('06')">Jun</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 7? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('07')">Jul</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 8? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('08')">Aug</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 9? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('09')">Sep</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 10? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('10')">Oct</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 11? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('11')">Nov</span>
    <span style="cursor: pointer;" class="badge rounded-pill m-2" [ngClass]="currentMonth == 12? 'text-bg-warning':'text-bg-primary'" (click)="onChangeMonth('12')">Dec</span>
  </div>
  <section class="ftco-section bg-light">

    <table class="table">
      <thead class="table-dark" style="border: groove; border-color: aliceblue;">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Holiday Name</th>
          <th scope="col">Chennai</th>
          <th scope="col">Bangalore</th>
          <th scope="col">Gurgon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of holidayList; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{item.holidayName}}</td>
 
          <td>
            <span *ngIf="item.chennai">&#10004;</span>
            <span *ngIf="!item.chennai">&#10060;</span>
          </td>   
          <td>
            <span *ngIf="item.bangalore">&#10004;</span>
            <span *ngIf="!item.bangalore">&#10060;</span>
          </td>
          <td>
            <span *ngIf="item.gurgaon">&#10004;</span>
            <span *ngIf="!item.gurgaon">&#10060;</span>
          </td>
        </tr>
      </tbody>
       
      
    </table>

  </section>
</div>