<app-timesheet></app-timesheet>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <div class=m-2>
                    <h5>HOLIDAY LIST</h5>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <!-- <div class="img" style="background-image: url(https://www.bootdey.com/image/350x280/FFB6C1/000000);"></div> -->
                    <div class="text-center p-4">
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Chennai</a>

                        <ul class="pricing-text mb-5" style="padding:25px;">
                            <li><span class="fa fa-check mr-2"></span>January 1</li>
                            <li><span class="fa fa-check mr-2"></span>May 1</li>
                            <li><span class="fa fa-check mr-2"></span>August 15</li>
                            <li><span class="fa fa-check mr-2"></span>December 26</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <!-- <div class="img" style="background-image: url(https://www.bootdey.com/image/350x280/87CEFA/000000);"></div> -->
                    <div class="text-center p-4">
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Banglore</a>

                        <ul class="pricing-text mb-5" style="padding:25px;">
                            <li><span class="fa fa-check mr-2"></span>January 1</li>
                            <li><span class="fa fa-check mr-2"></span>May 1</li>
                            <li><span class="fa fa-check mr-2"></span>August 15</li>
                            <li><span class="fa fa-check mr-2"></span>December 26</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <!-- <div class="img" style="background-image: url(https://www.bootdey.com/image/350x280/FF7F50/000000);"></div> -->
                    <div class="text-center p-4">
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Gurgon</a>

                        <ul class="pricing-text mb-5" style="padding:25px;">
                            <li><span class="fa fa-check mr-2"></span>January 1</li>
                            <li><span class="fa fa-check mr-2"></span>May 1</li>
                            <li><span class="fa fa-check mr-2"></span>August 15</li>
                            <li><span class="fa fa-check mr-2"></span>December 26</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>