<app-timesheet></app-timesheet>
<div class="m-4">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <div class="d-flex">
            <!-- <label class="fw-bold ">Emp Name:</label> -->
            <input
              id="typeahead-format"
              type="text"
              placeholder="Search for Employe Name"
              class="form-control form-control-sm"
              [(ngModel)]="employeeName"
              name="employeeName"
              [ngbTypeahead]="searchEmployees"
              [resultFormatter]="formatter"
            />

            <button
              type="button"
              class="btn btn-sm btn-outline-dark mx-2"
              (click)="Search()"
            >
              Search
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-warning"
              (click)="reset()"
            >
              Clear
            </button>
          </div>
        </div>
        <div class="col-3">
          <form class="row row-cols-sm-auto">
            <div>
              <div class="input-group">
                <input class="form-control form-control-sm" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker
                  #d2="ngbDatepicker" />
                <button class="btn btn-sm btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                  type="button"></button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-5">
          <div class="fw-bold cursor-pointer">
            <div>
              <p class="badge text-bg-light mx-2">Tags:</p>
              <p class="badge text-bg-info mx-2" (click)="allRecords()">All</p>
              <p
                class="badge text-bg-info mx-2"
                (click)="searchTagRecord('Today')"
              >
                Today
              </p>
              <p
                class="badge text-bg-info mx-2"
                (click)="searchTagRecord('Yesterday')"
              >
                Yesterday
              </p>
              <p
                class="badge text-bg-info mx-2"
                (click)="searchTagRecord('This Week')"
              >
                This Week
              </p>
              <p
                class="badge text-bg-info"
                (click)="searchTagRecord('Last Week')"
              >
                Last Week
              </p>
			    </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-sm table-striped table-bordered">
        <thead class="table-info">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Emp. Name</th>
            <th scope="col">Date</th>
            <th scope="col">Project</th>
            <th scope="col">Task</th>
            <!-- <th scope="col">Start Time</th> -->
            <th scope="col">Time (Est hrs.)</th>
            <!-- <th scope="col">Calc Hrs.</th> -->
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of recordList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.userName }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.projectName }}</td>
            <td>{{ item.task }}</td>
            <td>
              {{ item.startTime }} - {{ item.endTime }} ({{ item.calHrs }})
            </td>
            <td>{{ item.description }}</td>
            <td *ngIf="item.approvedByManager == 'Pending'">
              <button
                type="button"
                style="font-size: 10px"
                class="btn btn-outline-success mx-2"
                (click)="approveTimeSheet('Approved', item)"
              >
                <i class="bi bi-check2"></i>
              </button>
              <button
                type="button"
                style="height: 30px; font-size: 10px"
                class="btn btn-outline-danger m-2"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                (click)="getItem(item)"
              >
                <i class="bi bi-x-lg modal-dialog modal-dialog-centered"></i>
              </button>
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Reject Comments
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <!-- <input type="textarea" name="" id="" > -->
                      <textarea
					  class="form-control form-control-sm"
                        cols="53"
                        rows="5"
                        [(ngModel)]="comments"
                      ></textarea>
                    </div>

                    <div class="modal-footer" style="padding-right: 185px">
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="approveTimeSheet('Declined', item)"
                      >
                        Save
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <ul class="list-group list-group-horizontal">
                <li class="list-unstyled">
                  <a class="text-info cursor-pointer" ngbTooltip="Edit">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                </li>
                <li class="list-unstyled mx-1">
                  <a class="text-danger" ngbTooltip="Delete">
                    <i class="bi bi-archive-fill"></i>
                  </a>
                </li>
              </ul> -->
            </td>
            <td *ngIf="item.approvedByManager == 'Approved'">
              <p class="badge bg-success">Approved</p>
            </td>
            <td *ngIf="item.approvedByManager == 'Reject'">
              <p class="badge bg-danger">Rejected</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

