<div class="container">
    <h5 style="justify-content: center;">LEAVE LIST</h5>
    <hr>
    <div class="m-0">
        <table class="table table-bordered">
            <thead class="text-black" style="background-color: darkkhaki;">
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Reason        </th>

                    <th scope="col">From Date</th>

                    <th scope="col">To Date</th>

                    <th scope="col">Attachment</th>

                    <th scope="col">Status</th>

                </tr>
            </thead>
        </table>
    </div>
</div>