/* You can add global styles to this file, and also import other style files */
.bg-tab {
  --bs-bg-opacity: 1;
  background-color: #163339;
}
.bg-history-tab {
  --bs-bg-opacity: 1;
  background-color: #163339cc;
}

.timesheet-info {
  display: flex !important;
  align-content: center;
  justify-content: center;
}

.cursor-pointer{
  cursor: pointer;
}

/* This changes the width for all the offcanvas in the app */
@media (min-width: 768px) {
  .offcanvas {
    width: 50% !important;
  }
}


.fs-05 {
  font-size: calc(1.375rem + -0.5vw)!important;
}

*{
  font-size: 14px;
}

.align-div-center{
  display: flex;
  align-items: center;
  justify-content: center;
}